@model IEnumerable<EventManager.Models.Event>
<h1 class="jumbotron"><span class="glyphicon glyphicon-search"></span>&nbsp; Event Manager</h1>
<h2><big>All Upcoming Events</big></h2>
@foreach (var show in Model)
{
    <h4><b>@show.Artist.Name</b></h4>
    <div class="main">
        <div class="left">
            <div class="upperleft">@show.Venue</div>
            <div><b>@show.Genre.Name</b></div>
        </div>
        <div class="right">
            <div><big><b>@show.Date.ToString("MMM").ToUpper()</b></big></div>
            <div>@show.Date.ToString("dd")</div>
        </div>
     </div>
     <br /><br />
}

